[user]
	email = corniedj@mail.uc.edu
	name = Derek Corniello
[init]
	defaultBranch = main
[core]
	editor = nvim
[safe]
	directory = /mnt/usb/github-backups/8BitBeats
	directory = /mnt/usb/github-backups/advent-of-code-2024
	directory = /mnt/usb/github-backups/AmandaLynnDashboard
	directory = /mnt/usb/github-backups/Blackjack
	directory = /mnt/usb/github-backups/College_ENED1100
	directory = /mnt/usb/github-backups/College_ENED1120
	directory = /mnt/usb/github-backups/CS4065-Discussion-Board
	directory = /mnt/usb/github-backups/DEMO_BallBounce
	directory = /mnt/usb/github-backups/DEMO_PlaneSimulator
	directory = /mnt/usb/github-backups/DerekCorniello
	directory = /mnt/usb/github-backups/DerekCorniello.github.io
	directory = /mnt/usb/github-backups/dotfiles
	directory = /mnt/usb/github-backups/Game_BilliardsBonanza
	directory = /mnt/usb/github-backups/gitcmd
	directory = /mnt/usb/github-backups/HaskellAssignment
	directory = /mnt/usb/github-backups/IntrotoComputerScience_Assignments
	directory = /mnt/usb/github-backups/medava
	directory = /mnt/usb/github-backups/Minesweeper
	directory = /mnt/usb/github-backups/NeoVim-Setup
	directory = /mnt/usb/github-backups/pip-req-valid
	directory = /mnt/usb/github-backups/pomodoro-app
	directory = /mnt/usb/github-backups/stimpl
	directory = /mnt/usb/github-backups/TicTacToe-with-AI
	directory = /mnt/usb/github-backups/waph-corniedj
	directory = /mnt/usb/github-backups/.github
	directory = /mnt/usb/github-backups/DevBits
	directory = /mnt/usb/github-backups/AI_Principles
	directory = /mnt/usb/github-backups/Resume2Web
	directory = /mnt/usb/github-backups/school
	directory = /mnt/usb/github-backups/Database-Team-project
	directory = /mnt/usb/github-backups/technical-assessment-deadline-9-23-24-DerekCorniello
	directory = /mnt/usb/github-backups/technical-project-deadline-10-14-23-DerekCorniello
	directory = /mnt/usb/github-backups/waph-team01-sm24.github.io
	directory = /mnt/usb/github-backups/waph-teamproject
	directory = /mnt/usb/github-backups/8BitBeats
	directory = /mnt/usb/github-backups/advent-of-code-2024
	directory = /mnt/usb/github-backups/AmandaLynnDashboard
	directory = /mnt/usb/github-backups/Blackjack
	directory = /mnt/usb/github-backups/College_ENED1100
	directory = /mnt/usb/github-backups/College_ENED1120
	directory = /mnt/usb/github-backups/CS4065-Discussion-Board
	directory = /mnt/usb/github-backups/DEMO_BallBounce
	directory = /mnt/usb/github-backups/DEMO_PlaneSimulator
	directory = /mnt/usb/github-backups/DerekCorniello
	directory = /mnt/usb/github-backups/DerekCorniello.github.io
	directory = /mnt/usb/github-backups/dotfiles
	directory = /mnt/usb/github-backups/Game_BilliardsBonanza
	directory = /mnt/usb/github-backups/gitcmd
	directory = /mnt/usb/github-backups/HaskellAssignment
	directory = /mnt/usb/github-backups/IntrotoComputerScience_Assignments
	directory = /mnt/usb/github-backups/medava
	directory = /mnt/usb/github-backups/Minesweeper
	directory = /mnt/usb/github-backups/NeoVim-Setup
	directory = /mnt/usb/github-backups/pip-req-valid
	directory = /mnt/usb/github-backups/pomodoro-app
	directory = /mnt/usb/github-backups/stimpl
	directory = /mnt/usb/github-backups/TicTacToe-with-AI
	directory = /mnt/usb/github-backups/waph-corniedj
	directory = /mnt/usb/github-backups/.github
	directory = /mnt/usb/github-backups/DevBits
	directory = /mnt/usb/github-backups/AI_Principles
	directory = /mnt/usb/github-backups/Resume2Web
	directory = /mnt/usb/github-backups/school
	directory = /mnt/usb/github-backups/Database-Team-project
	directory = /mnt/usb/github-backups/technical-assessment-deadline-9-23-24-DerekCorniello
	directory = /mnt/usb/github-backups/technical-project-deadline-10-14-23-DerekCorniello
	directory = /mnt/usb/github-backups/waph-team01-sm24.github.io
	directory = /mnt/usb/github-backups/waph-teamproject
	directory = /mnt/usb/github-backups/8BitBeats
	directory = /mnt/usb/github-backups/advent-of-code-2024
	directory = /mnt/usb/github-backups/AmandaLynnDashboard
	directory = /mnt/usb/github-backups/Blackjack
	directory = /mnt/usb/github-backups/College_ENED1100
	directory = /mnt/usb/github-backups/College_ENED1120
	directory = /mnt/usb/github-backups/CS4065-Discussion-Board
	directory = /mnt/usb/github-backups/DEMO_BallBounce
	directory = /mnt/usb/github-backups/DEMO_PlaneSimulator
	directory = /mnt/usb/github-backups/DerekCorniello
	directory = /mnt/usb/github-backups/DerekCorniello.github.io
	directory = /mnt/usb/github-backups/dotfiles
	directory = /mnt/usb/github-backups/Game_BilliardsBonanza
	directory = /mnt/usb/github-backups/gitcmd
	directory = /mnt/usb/github-backups/HaskellAssignment
	directory = /mnt/usb/github-backups/IntrotoComputerScience_Assignments
	directory = /mnt/usb/github-backups/medava
	directory = /mnt/usb/github-backups/Minesweeper
	directory = /mnt/usb/github-backups/NeoVim-Setup
	directory = /mnt/usb/github-backups/pip-req-valid
	directory = /mnt/usb/github-backups/pomodoro-app
	directory = /mnt/usb/github-backups/stimpl
	directory = /mnt/usb/github-backups/TicTacToe-with-AI
	directory = /mnt/usb/github-backups/waph-corniedj
	directory = /mnt/usb/github-backups/.github
	directory = /mnt/usb/github-backups/DevBits
	directory = /mnt/usb/github-backups/AI_Principles
	directory = /mnt/usb/github-backups/Resume2Web
	directory = /mnt/usb/github-backups/school
	directory = /mnt/usb/github-backups/Database-Team-project
	directory = /mnt/usb/github-backups/technical-assessment-deadline-9-23-24-DerekCorniello
	directory = /mnt/usb/github-backups/technical-project-deadline-10-14-23-DerekCorniello
	directory = /mnt/usb/github-backups/waph-team01-sm24.github.io
	directory = /mnt/usb/github-backups/waph-teamproject
	directory = /mnt/usb/github-backups/8BitBeats
	directory = /mnt/usb/github-backups/advent-of-code-2024
	directory = /mnt/usb/github-backups/AmandaLynnDashboard
	directory = /mnt/usb/github-backups/Blackjack
	directory = /mnt/usb/github-backups/College_ENED1100
	directory = /mnt/usb/github-backups/College_ENED1120
	directory = /mnt/usb/github-backups/CS4065-Discussion-Board
	directory = /mnt/usb/github-backups/DEMO_BallBounce
	directory = /mnt/usb/github-backups/DEMO_PlaneSimulator
	directory = /mnt/usb/github-backups/DerekCorniello
	directory = /mnt/usb/github-backups/DerekCorniello.github.io
	directory = /mnt/usb/github-backups/dotfiles
	directory = /mnt/usb/github-backups/Game_BilliardsBonanza
	directory = /mnt/usb/github-backups/gitcmd
	directory = /mnt/usb/github-backups/HaskellAssignment
	directory = /mnt/usb/github-backups/IntrotoComputerScience_Assignments
	directory = /mnt/usb/github-backups/medava
	directory = /mnt/usb/github-backups/Minesweeper
	directory = /mnt/usb/github-backups/NeoVim-Setup
	directory = /mnt/usb/github-backups/pip-req-valid
	directory = /mnt/usb/github-backups/pomodoro-app
	directory = /mnt/usb/github-backups/stimpl
	directory = /mnt/usb/github-backups/TicTacToe-with-AI
	directory = /mnt/usb/github-backups/waph-corniedj
	directory = /mnt/usb/github-backups/.github
	directory = /mnt/usb/github-backups/DevBits
	directory = /mnt/usb/github-backups/AI_Principles
	directory = /mnt/usb/github-backups/Resume2Web
	directory = /mnt/usb/github-backups/school
	directory = /mnt/usb/github-backups/Database-Team-project
	directory = /mnt/usb/github-backups/technical-assessment-deadline-9-23-24-DerekCorniello
	directory = /mnt/usb/github-backups/technical-project-deadline-10-14-23-DerekCorniello
	directory = /mnt/usb/github-backups/waph-team01-sm24.github.io
	directory = /mnt/usb/github-backups/waph-teamproject
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
